<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('login') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('login') }}
        {% endblock %}
    </head>
    <body>
        <main role="main" class="container">
            {{ include('layouts/_flash_message.html.twig') }}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
